ul#menu-list {
  margin-left: 16px;
  list-style-type: none;
  float: left;
}

ul#menu-list li {
  display: inline;
}

ul#menu-list a,
.menuBarUserNamePanel {
  color: #e5e5e5 !important;
  text-decoration: none;
}

ul#menu-list a {
  padding: 0 1.2em 0 0;
}

ul#menu-list a:hover {
  color: #fff !important;
}

.topmenuMenuRight {
  padding: 10px 25px;
  margin-top: .5em 1em .5em 0;
}

#gerrit-header {
  width: 100%;
  font-weight: 600;
  margin: 0;
}

#gerrit_body {
  padding-top: 10px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
